api_platform:
    title: Beep
    show_webby: false
    version: 0.1.0
    formats:
        jsonld:   ['application/ld+json']
        jsonhal:  ['application/hal+json']
        jsonapi:  ['application/vnd.api+json']
        json:     ['application/json']
        html:     ['text/html']
    mapping:
        paths: ['%kernel.project_dir%/src/Entity']
    oauth:
        enabled: true
        clientId: '%env(COGNITO_SWAGGER_CLIENT_ID)%'
        authorizationUrl: '%env(COGNITO_DOMAIN)%/oauth2/authorize'
        tokenUrl: '%env(COGNITO_DOMAIN)%/oauth2/token'
        type: oauth2
        flow: implicit
        scopes: { 'http://localhost/devices:write': "Allow full management of devices and sensors, such as the Beep base."}

