version: '3.4'

services:
  php:
    image: ${IMAGE_URI}
    depends_on:
      - db
    environment:
      PHP_IDE_CONFIG: serverName=beep-api
      APP_ENV: test
      APP_DEBUG: 1
      SYMFONY_PHPUNIT_VERSION: 8.3

  nginx:
    image: 038855593698.dkr.ecr.eu-west-1.amazonaws.com/beep-nginx-development:latest
    depends_on:
      - php
    ports:
      - 80:80

  db:
    image: mysql:5.7
    environment:
      - MYSQL_ROOT_PASSWORD=root
