version: '3.4'

services:
  php:
    build:
      dockerfile: dev.Dockerfile
      target: api-dev
    depends_on:
      - db
    environment:
      PHP_IDE_CONFIG: serverName=beep-api
      APP_ENV: test
      APP_DEBUG: 1
      SYMFONY_PHPUNIT_VERSION: 8.3

  nginx:
    image: 038855593698.dkr.ecr.eu-west-1.amazonaws.com/beep-nginx-development:36cee69
    depends_on:
      - php
    volumes:
      - ./public:/srv/api/public:delegated
    ports:
      - 80:80

  db:
    image: mysql:5.7
    environment:
      - MYSQL_ROOT_PASSWORD=root
